/** @format */

@import "tailwindcss";

:root {
  --color-gray-600: rgb(134, 134, 134);
  --color-gray-700: rgb(101, 101, 101);
  --color-gray-800: rgb(75, 75, 75);
  --color-gray-900: rgb(48, 48, 48);
  --yellow: #ffd43b;
  --orange: #ff914d;
  --color-red-500: #ec7a8e;
  --color-red-600: #e9647b;
  --color-red-700: #e54d69;
  --color-red-800: #e23756;
  --color-red-900: #df2143;
  --gold: #e6a72d;
  --red-purple: #722f37;
}

html {
  font-size: 62.5%;
}

* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

body {
  color: white;
  font-size: 1.4rem;
  background-color: var(--color-gray-900);
  font-family: "Parkinsans", sans-serif;
}

.carousel > div {
  flex: 1 0 100%;
}
