/** @format */

@import "tailwindcss";

:root {
  --color-gray-600: #868686;
  --color-gray-700: #656565;
  --color-gray-800: #4b4b4b;
  --color-gray-900: #303030;
  --yellow: #ffd43b;
  --orange: #ff914d;
  --color-red-500: #ec7a8e;
  --color-red-600: #e9647b;
  --color-red-700: #e54d69;
  --color-red-800: #e23756;
  --color-red-900: #df2143;
  --gold: #e6a72d;
  --red-purple: #722f37;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

body {
  color: white;
  font-size: 1.4rem;
  background-color: var(--color-gray-900);
  font-family: "Parkinsans", sans-serif;
}

button {
  cursor: pointer;
}

.hidden {
  display: none;
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.carousel > div {
  flex: 1 0 100%;
}

.primary-btn-disable {
  background-color: var(--color-red-500);
  cursor: not-allowed;
}
