/** @format */
/* input txt */
.inputTxt {
  transition: all 0.3s;
  background-color: var(--light-gray);
  padding: 0.7rem 1.6rem;
  border: solid 1px var(--dark-gray);
}

.inputTxt::placeholder {
  color: white;
}

.inputTxt:focus {
  background-color: white;
  color: black;
  outline: none;
  border-color: var(--red);
}

.inputTxt:focus::placeholder {
  color: black;
}
