/** @format */

.mobileBanner {
  height: 35rem;
  background: linear-gradient(180deg, #00000000, #000000);
}

/* carousel animation */
.inView {
  opacity: 1;
  transform: translateY(0);
}

.outView {
  opacity: 0;
  transform: translateY(200%);
}
